body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.ui.grid {
    margin: 0;
}

.UserForm {
    max-width: 400px;
    margin: 0 auto;
}

label {
    text-align: left;
}

.fullScreen {
    min-height: 100vh;
}

@media (min-width: 992px) {
    .pusher {
        padding-right: 150px;
    }
}